################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/get_flights/run.bat
